.products{
  display:flex;
  justify-content:center;
  gap:25px;
  margin-top:20px;
  flex-wrap:wrap;
}

.product{
  background:#0d152f;
  padding:15px;
  border-radius:10px;
  width:220px;
  text-align:center;
  transition:0.3s;
}

.product:hover{
  transform: scale(1.05);
  box-shadow:0 0 20px #0ff;
}

.product img{
  width:100%;
  border-radius:10px;
}

.product h3{
  margin:10px 0;
  color:white;
}

.price{
  color:#00c8ff;
  font-weight:bold;
  margin-bottom:10px;
}

button{
  background:#00c8ff;
  border:none;
  padding:8px 12px;
  border-radius:6px;
  cursor:pointer;
  font-weight:bold;
}

button:hover{
  background:#0195c7;
}
.products{
  display:flex;
  justify-content:center;
  gap:25px;
  margin-top:20px;
}

.product{
  background:#0d152f;
  padding:15px;
  border-radius:10px;
  width:220px;
}

.product img{
  width:100%;
  border-radius:10px;
}

.product button{
  background:#4ade80;
  border:none;
  padding:10px;
  border-radius:8px;
  cursor:pointer;
  font-weight:bold;
}
